.overlap1-l {
    align-items: flex-end;
    margin-top: 0.8%;
    display: flex; 
    width: 100%;
    height: 50%; 
    padding: 10px 70px;
    background-image:url('Vector.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}    
.iiit-new1-1-l { 
    height: 10%; 
    object-fit: cover;
    width: 9%; 
}
.m1 {
  display:flex;
  width:100%;
  
}
.logouticon{
  width:3%;
  height:3%;
  float: right;
  align-items: right;
  justify-content: right;
  margin-left:100%;
  margin-bottom: 2%;
}
.m2{
  
  display: none;
  position: absolute;
  margin-top: 2.7%;
  width: 170px; 
  height: auto;  
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  z-index: 1;
  margin-left: 73%;
}


.dropdown-c1 {
  
  height: auto;
  color: #4D4D4D;
  text-decoration: none;
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;

}
.dropdown-c1 span{
  margin: 0px 10px;

}
.m2 .dropdown-c1:hover {
  background-color:#D5E5F8;
}
.m2 a{
  text-decoration: none;
  color: #4D4D4D;
}
/*.m1:hover .m2 {
  display: block;
}*/

.scrollmenu-l{
    background-color: #0F2749;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu-l  .nav-content{
	display: inline-block;
	color: white;
	margin: 9px -25px; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 0px;
    text-decoration: none;
    margin-left: 8.9%;
}
.scrollmenu-l .nav-content:link{
	text-decoration: none;
}
.scrollmenu-l .nav-content:hover{
	text-decoration: underline;
	text-decoration-color: #F37E27;
	text-decoration-thickness: 2px;
    text-underline-offset: 0.3em;
}
.scrollmenu-l::-webkit-scrollbar{
	display: none;
}
.scrollmenu-l.active {
text-decoration: underline;
text-decoration-color: #F37E27;
text-decoration-thickness: 4px;
text-underline-offset: 0.5em;
/*border-radius: 2px;
border: 1px none; 
height: 4px; 
margin-left: 30px; 
margin-top: 1px; 
width: 128px;*/
}

.menu {
    display: inline-block;
	color: white;
	margin: 3px -15px; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 0px;
    text-decoration: none;
    margin-left: 8.8%;
    justify-content: left;
    text-align: left;
    
  }

  .dropdown-btn1{
    background-color: #0F2749;
    color:white;
    border:0;
    display: inline-block; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 0px;
    text-decoration: underline;
	text-decoration-color: #F37E27;
	text-decoration-thickness: 2px;
    text-underline-offset: 0.3em;
   
  }
  

  
  .menu-c {
    display: none;
    position: absolute;
    margin-top: 0.4%;
    width: 187px; 
    height: auto;  
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    z-index: 1;
  }

  
  .dropdown-content {
    
    height: auto;
    color: #4D4D4D;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;

  }
  .dropdown-content span{
    margin: 0px 10px;

  }
  .menu-c .dropdown-content:hover {
    background-color:#D5E5F8;
  }
  .menu-c a{
    text-decoration: none;
    color: #4D4D4D;
  }
  /*.menu:hover .menu-c {
    display: block;
  }*/
  
  
  .dropdown-btn2{
    background-color: #0F2749;
    color:white;
    border:0;
    display: inline-block; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 0px;
  }



.g73 {
    margin-top: 0.2%;
    float: left;
    width: 10px;
}
.grp1 {
    margin-top: 0.8%;
    float: right;
    position: relative;
}
.container2{
    width: 100%;
    height: auto;
    display: flex;
}
.dot1{
    width:6%;
    float: left;
    margin-top:0.4%,
}
.dot1 img{
  justify-content: left;
  text-align: left;
  align-items: left;
  margin-top: 3%;
}
.dot2{
    width:10%;
    float:right;
    text-align: right;
    justify-content: right;
}
.dot2 img{
  justify-content: right;
  text-align: right;
  align-items: right;
}
.dropdown-container{
    width: 85.3%;
    height: auto;
    margin: auto;
}
.row0{
  width: 75%;
  margin: auto;
  height: 5%;
  margin-left: 1%;
  margin-top:0.7%;
  display: flex;
}
.term1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.04em;

color: #9D9D9D;

}
.term2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.04em;

color: #9D9D9D;

}
.term3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -0.04em;

color: #1F669F;
}


.row{
    width: 83%;
    margin: 5% auto 0px;
    height: 20%;
    display: flex;
}

.num{
    background: #E2F2FC;
    width:35px;
    height:35px;
    border-radius:50%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #363636;
    margin-top: 0.8%;
} 
.dropdown-content0{
    margin-left: 2%;
    margin-top: 0.8%;
    width:19%; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #3F3F3F;
}
.dropdown-box{
    background: rgba(229, 240, 253, 0.7);
    width:19%;
    height: 45px;
    text-align: center;
    border: 2px solid #0F2749;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #000000;
}
.dropdown1:after {
  content: "";  
  position: absolute;
  margin-top: 15.5%;
  margin-right: 33.2%;
  right: 1.8px;
  top: 11px;
  width: 0; 
  height: 0; 
  border: 5px;
  z-index:1;
  
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-top: 13px solid #0F2749;
}
select::before{
  content: " ";
  border: solid black;
  border-width: 0px 4px 4px 0;
  display: inline;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  font-weight: bold;

}
.row1{
    width: 83%;
    margin: 3% auto 0px;
    height: 20%;
    display: flex;
}
.sub1{
    width: 50%;
    display: flex;
}
.sub2{
    width: 50%;
    display: flex;
}
.num{
    background: #E2F2FC;
    width:35px;
    height:35px;
    border-radius:50%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #363636;
    margin-top: 0.8%;
} 
.dropdown-content1{
    margin-left:4%;
    margin-top: 0.8%;
    width:55%; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #3F3F3F;
}
.dropdown-content11{
  margin-left:5%;
  margin-top: 0.8%;
  width:55%; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #3F3F3F;
}
.dropdown-box1{
    background: rgba(229, 240, 253, 0.7);
    width:39%;
    height: 45px;
    text-align: center;
    border: 2px solid #0F2749;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #000000;
    margin-left:-90px;
}
.container3{
    width: 100%;
    height: auto;
    margin-top:3%;
    padding-right:3%;
}
.min-table{
    width: 100%;
    margin: auto;
    margin-left: 4%;
    
}
tr{
    margin-top:1%;
    display: flex;
    padding-left:30px;
}
td{
    width:17%;
    height: auto;
    display: flex;
    padding:50px;
}
.checkbox{
   height:20px;
   width:20px;
   margin-left:20px;
   background-color:white
}

input[type="checkbox"]{
  accent-color:white;
}

  table td {
    padding: 5px;
  }
  
td.selected {
    background:#E2F2FC;
    
  }
.table-heading{
    color:black;
    margin-left:30px;
    font-size:14px;
    padding-top:-50px;
} 
.t1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.01em;
    color: #5E5E5E;
    }
.t1 p{
font-size: 12px;
line-height: 15px;
margin: 5px 0px 0px 0px;
}
.container4{
    margin-top: 4%;
    width: 100%;
    height: auto;
    text-align: center;
}
.button{
    width:19%;
    height:50px;
    background-color: hsl(204, 86%, 53%);
    background: #1F669F;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border:none;
    text-decoration: none;
    margin-bottom:50px;
 }


 .min-table{
    padding-bottom:10px;
 }
.t1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 27px;
letter-spacing: -0.04em;
color: #5E5E5E;
margin-left:25px;
}
.t2{
    margin-left:30px;
    width:130%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #5E5E5E;
}
.t3{
    
width:170px;
height:60px;
right:275px;
top: 658px
}
 
/*.container1{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }*/
  
  /* Hide the browser's default checkbox */
  /*.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }*/
  
  /* Create a custom checkbox */
  /*.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    box-sizing: border-box;
    border: 1px solid #1F669F;
  }*/
  
  /* On mouse-over, add a grey background color */
  /*.container1:hover input ~ .checkmark {
    background-color: #ccc;
    
  }*/
  
  /* When the checkbox is checked, add a blue background */
  /*.container1 input:checked ~ .checkmark {
    background-color: #fdfeff;
  }*/
  
  /* Create the checkmark/indicator (hidden when not checked) */
 /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }*/
  
  /* Show the checkmark when checked */
  /*.container1 input:checked ~ .checkmark:after {
    display: block;
  }
  */
  /* Style the checkmark/indicator */
  /*.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: 1px solid #1F669F;
  
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
*/

