
    
    /*leaderboard*/
    .overlap1-l {
        align-items: flex-end;
        margin-top: 0.8%;
        display: flex; 
        width: 100%;
        height: 50%; 
        padding: 10px 70px;
        background-image:url('Vector.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }    
    .iiit-new1-1-l { 
        height: 13%; 
        object-fit: cover;
        width: 9%; 
    }
    .m1 {
        display:flex;
        width:100%;

      }
      .m2{
        
        display: none;
        position: absolute;
        margin-top: 2.8%;
        width: 165px; 
        height: auto;  
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        z-index: 2;
        margin-left: 73.0%;
      }
    
      
      .dropdown-c1 {
        
        height: auto;
        color: #4D4D4D;
        text-decoration: none;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
    
      }
      .dropdown-c1 span{
        margin: 0px 10px;
    
      }
      .m2 .dropdown-c1:hover {
        background-color:#D5E5F8;
      }
      .m2 a{
        text-decoration: none;
        color: #4D4D4D;
      }
      /*.m1:hover .m2 {
        display: block;
      }*/
      #imagebutton:hover + #imagecontent {
        display: block;
    }
    
    #imagebutton.open + #imagecontent {
        display: block;
    }
    
    #dimagecontent {
        display: none;
    }
      
      
    .scrollmenu-l{
        background-color: #0F2749;
        overflow: auto;
        white-space: nowrap;
        width: 100%;
    }
    .scrollmenu-l  .nav-content{
        display: inline-block;
        color: white;
        margin: 12px -60px; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 550;
        font-size: 16px;
        padding-left: 0px;
        text-decoration: none;
        margin-left: 10.7%;
    }
    .scrollmenu-l .nav-content:link{
        text-decoration: none;
    }
    .scrollmenu-l .nav-content:hover{
        text-decoration: underline;
        text-decoration-color: #F37E27;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.3em;
    }
    .scrollmenu-l::-webkit-scrollbar{
        display: none;
    }
    .scrollmenu-l.active {
    text-decoration: underline;
    text-decoration-color: #F37E27;
    text-decoration-thickness: 4px;
    text-underline-offset: 0.5em;
    /*border-radius: 2px;
    border: 1px none; 
    height: 4px; 
    margin-left: 30px; 
    margin-top: 1px; 
    width: 128px;*/
    }
    .menu {
        display: inline-block;
        color: white;
        margin: 3px -15px; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 550;
        font-size: 16px;
        padding: 0px;
        text-decoration: none;
        margin-left: 5.8%;
        justify-content: left;
        text-align: left;
        
      }
    
      .dropdown-btn1{
        background-color: #0F2749;
        color:white;
        border:0;
        display: inline-block; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 550;
        font-size: 16px;
        padding: 5px;
        margin-left: 70%;
        text-decoration: underline;
        text-decoration-color: #F37E27;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.3em;
       
      }
      
    
      
      .menu-c {
        
        display: none;
        position:absolute;
        margin-top: 0.2%;
        width: 180px; 
        height: auto;  
        background: #F0F0F0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        z-index: 1;
        margin-left: 5.7%;
      }
    
      
      .dropdown-content {
        
        height: auto;
        color: #4D4D4D;
        text-decoration: none;
        display: block;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 39px;
    
      }
      .dropdown-content span{
        margin: 0px 10px;
    
      }
      .menu-c .dropdown-content:hover {
        background-color:#D5E5F8;
      }
      .menu-c a{
        text-decoration: none;
        color: #4D4D4D;
      }
      /*.menu:hover .menu-c {
        display: block;
      }*/
      #dropdownButton:hover + #dropdownMenu {
        display: block;
    }
    
    #dropdownButton.open + #dropdownMenu {
        display: block;
    }
    
    #dropdownMenu {
        display: none;
    }
      
      
      
      .dropdown-btn2{
        background-color: #0F2749;
        color:white;
        border:0;
        display: inline-block; 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 550;
        font-size: 16px;
        padding: 0px;
      }
    
    
    
    .g73 {
        margin-top: 0.2%;
        float: left;
        width: 10px;
    }
    .grp1 {
        margin-top: 0.8%;
        float: right;
        position: relative;
    }
    
    
    
    
    .fieldset {
        float: right;
       justify-content: right;
        margin-left: 62.1%;   
        margin-top: 0.9%;
        border: 2px solid  #0F2749;
        width: 19.5%;
        border-radius: 6px;
        background: rgba(219, 236, 255, 0.7);
        position:absolute;   
    }
    
    .border-text {
        width: 132px;
        margin: auto;
        background-color: #ffffff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        /* identical to box height, or 80% */
        color: #0F2749;
        border: 0px solid #FFFFFF;
    }
    .dropdown{
        width: 270px;
        overflow: hidden;
        background: no-repeat right #D7E9FF;
        border-top:#D7E9FF 1px solid;
        background-color: transparent;
        border: 0;
        margin: auto;
        justify-content: center;
        text-align: center;
    
    
    }
    .dropdown:after {
        content: "";
        margin-right: 20%;
        position: absolute;
        right: 0px;
        top: 12.5px;
        width: 0; 
        height: 0; 
        border: 10px;
        box-sizing: border-box;
        border-color: transparent;
        background-color: transparent;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-top: 12px solid #0F2749;
    }
    .select-element {
        box-sizing: border-box;
        border: 0;
        border-color: transparent;
        background-color: transparent;
        font-size: 21px;
        font-weight: 550;
        width: 60%;
        padding: 5px;
        border-style: none;
        font-family: "Montserrat";
        font-style: normal;
       
        
    }
    .select-element:after{
        box-sizing: border-box;
        border: 0;
        border-color: transparent;
        background-color: transparent;
        outline: none;
    }
    select:focus {
        outline: none;
    
    }
    /*table, th, td {
        border:1px solid black;
        border-collapse: collapse;
      }*/
    table th:first-child{
        border-radius:3px 0 0 3px;
    }
    table th:last-child{
        border-radius:0 3px 3px 0;
    }
    
    .table-heading {
        color:  #FEFEFE;
        background-color: #1e2254;
        min-height: 20px;
       
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 550;
        font-size: 15px;
        
    }
    .table-data{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.04em;
    
        color: #4D4D4D;
    
    }
    .table-data1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */
    
        letter-spacing: -0.04em;
    
        color: #4D4D4D;
    
    }
    .table-data2{
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */
    
        letter-spacing: -0.04em;
    
        color: #065CD6;
    
    }
    .table-data3{
        text-align: right;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */
    
        letter-spacing: -0.04em;
    
        color: #065CD6;
    
    }
    
    .tabledata1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */
    
        letter-spacing: -0.04em;
    
        color: #4D4D4D;
    
    }
    .tabledata2{
        text-align: center;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */
    
        letter-spacing: -0.04em;
    
        color: #065CD6;
    
    }
    .tabledata3{
        text-align: right;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        /* identical to box height */
    
        letter-spacing: -0.04em;
    
        color: #065CD6;
    }
    
    tr.border-bottom td {
        border-bottom: 1pt solid #E6E6E6;
        height:50px
    }
    
    .circle{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
       
        width:30px;
        height:30px;
        border-radius:50%;
        text-align: center;
        color: #0F2749;
    }
    .cons {
        width: 100%;
        margin: 550px auto 0;
        overflow: auto;
        display:flex;
        justify-content: right;
       
    }
    
    
/*leaderboard end*/
/*----------------------------about--------------------------------------*/

.hidden,
.hidden * 
{
 pointer-events: none; 
 visibility: hidden;
}
/*iiith icon----------------------------------------------------------*/
.overlap1 {
    
    align-items: flex-end;
    margin-top: 0.8%;
    display: flex; 
    width: 100%;
    height: 50%; 
    padding: 10px 70px;
    background-image:url('Vector.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.iiit-new1-1 {
    height: 13%; 
    object-fit: cover;
    width: 9%; 
}

/*Menu Bar----------------------------------------------------------*/
.scrollmenu{
    background-color: #0F2749;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu a{
	display: inline-block;
	color: white;
	margin: 5px -65px; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 7px;
    text-decoration: none;
    margin-left: 10.3%;
}
.scrollmenu a:link{
	text-decoration: none;
}
.scrollmenu a:hover{
	text-decoration: underline;
	text-decoration-color: #F37E27;
	text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
}
.scrollmenu::-webkit-scrollbar{
	display: none;
}
.scrollmenu a.active {
text-decoration: underline;
text-decoration-color: #F37E27;
text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
/*border-radius: 2px;
border: 1px none; 
height: 4px; 
margin-left: 30px; 
margin-top: 1px; 
width: 128px;*/
}
.scrollmenu-a{
    background-color: #0F2749;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu-a a{
	display: inline-block;
    color: white;
    margin: 12px -32px; 
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  padding: 0px;
  text-decoration: none;
  margin-left: 8.3%;
}
.scrollmenu-a a:link{
	text-decoration: none;
}
.scrollmenu-a a:hover{
	text-decoration: underline;
	text-decoration-color: #F37E27;
	text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
}
.scrollmenu-a::-webkit-scrollbar{
	display: none;
}
.scrollmenu-a a.active {
text-decoration: underline;
text-decoration-color: #F37E27;
text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
/*border-radius: 2px;
border: 1px none; 
height: 4px; 
margin-left: 30px; 
margin-top: 1px; 
width: 128px;*/
}




/*-----------------------------------------------------------------*/

.overlap2 { 
	align-self: center; 
	height: 150%; 
	 position: relative; 
	 width: 100%; 
	 margin-top: 2%;
}
.clouds {
height: 290px; 
margin-left: 24%;
margin-right: 24%;
width: 45%;
position: relative;
}
.image-caption{
    margin-top: 22%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
    /* identical to box height, or 133% */

    letter-spacing: 0.08em;

    color: #0B68EB;

}
.pink_cloud {
    margin-top: -13.5%;
    height: 250px; 
    margin-left: 48.9%;
    margin-right: 24%;
    width: 25%;
    position: relative;
    }
/*background rectangle*/
.rectangle{
height: 160%; 
left: 5%;
margin-top: 0.5%;
position: absolute; 
width: 90%; 
}


/*himangi bg rectangle*/
.title-rectangle {
box-sizing: border-box;
position: absolute;
width: 28%;
height: 16%;
left: 35.5%;
margin-top: 3%;
background: #0F2749;
border-radius: 14px 0px;
}

/*himangi title*/
.title-himangy {
position: absolute;
left: 41%;
margin-top: 2.5%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 41px;
line-height: 65px;
letter-spacing: 0.22em;
color: #FDFDFD;
}

.indian{
position: absolute;
width:50%;
height: 5%;
left:28%;
margin-top: 6.5%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 34px;
letter-spacing: -0.04em;
color: #0F2749;
}

.part {
position: absolute;
width: 50%;
height: 64px;
left: 25%;
margin-top: 9.0%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 28px;
text-align: center;
letter-spacing: 0.08em;
color: #1C1C1C;
}
.span {
font-weight: 600;
}

/*about bg rectangle*/
.about-container {

position: absolute;
margin-left: 5%;
align-items: center; 
background-color: #FEFEFE;
display: flex; 
height: 80px; 
padding: 0 100px;
width: 90%;
margin-top: 15%;
}

.about-overlap {

height: 60%; 
position: absolute; 
width: 18%;
}

.heading-about {
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 39px;
/* identical to box height */
letter-spacing: 0.12em;
color: #F37E27;
}

/*about underline*/
.abt-underline { 
	background-color: #f37e274c; 
	border: 2px none; 
	margin-top:12.5%; 
	height: 2px; 
	position: absolute;
	width: 100%;
}

.himangy{
position: absolute;
color: #282828;
margin-left: 13%; 
margin-top: 23%;
width: 72%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 32px;
letter-spacing: 1px;
}

/*objective bg rectangle*/
.obj-container{
position: absolute;
margin-left: 5%;
align-items: center; 
background-color: #FEFEFE;
display: flex; 
height: 70px; 
padding: 0 100px;
width: 90%;
margin-top: 32%;
}

.obj-overlap{

height: 60%; 
position: absolute; 
width: 25%;
}

.heading-objective {
position: absolute;
height: 30px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 39px;
/* identical to box height */
letter-spacing: 0.12em;
color: #F37E27;
}

/*obj underline*/
.obj-underline{ 
    background-color: #f37e274c; 
    border: 1px none; 
    margin-top: 10%; 
    height: 3px;
    position: absolute;
    width: 70%;
}

.to-build{
position: absolute;
color: #282828;
margin-left: 13%; 
margin-top: 32%;
width: 72%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 32px;
letter-spacing: 0.8px;
display: flex;

}
.bhashini_img {
    width: 330px;
    height: 200px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 0.5%;
    margin-top: 17%;
    margin-right: 80px;
    display: inline-block;
  }
  
  .bhashini_img:hover {
    border: 1px solid #0E4DA4;
  }
  .bhashini_img1 {
    width: 330px;
    height: 200px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-left: 0.5%;
    margin-top: 17%;
    margin-right: 80px;
    display: inline-block;
  }
  .bhashini_img1:hover + .tool {
    display: block;
  }
  .tool{
    position: absolute;
    top: 110px;
    display: none;
    z-index: 1;
    color: #fff;
    padding: 0px;
    background: #ECF6FE;
    border: 1px solid #0B5E97;
    border-radius: 2px;
    width:23%;
    height: 15%;
    margin-left: 25%;  
    text-align: center;
  }
  
  .tooltip-text {
    font-size: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.08em;
    color: #282828;
    text-align: center;
  }
  
  .imagecaption {
    text-align: center;
    margin-top: 1px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
  }
  
  
  
  
  

  
/*------------------------------------------------------------*/
.foo{
		width: 100%;
    margin-top: 55%;
}
.overlap-footer{
	height: 250px;
	position: relative;
    background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 29px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 3%;
}

.contact{
	margin-top: 3%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
text-align: center;
letter-spacing: -0.04em;

}
.copyright{
	margin-top: 14%;
	margin-left: 40%;
	position: absolute;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
text-align: center;
letter-spacing: -0.04em;
color: #BBBBBB;
}
.yellow-rectangle {
position: absolute;
width: 184px;
height: 114px;
border: 1px none; 
border-radius: 30px; 
left: 1px;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 27%;
}




/*------------------------------------------------------------------------------Media queries------------------------------------------------------------*/




@media only screen and (max-width: 1440px){
.rec{
margin-top: 0.2%;
}
.group_photo {
height: 315px; 
margin-left: 25%;
margin-right: 25%;
width: 50%;
}
.rectangle{
height: 345%; 

}
.title-rectangle {
width:26%;
height: 17%;
left: 36.5%;
border-radius: 14px 0px;
}

/*himangi title*/
.title-himangy {
left: 41.2%;
margin-top: -2.3%;
font-weight: 600;
font-size: 40px;
line-height: 63px;
letter-spacing: 0.18em;
}

.indian{
width:47%;
height: 5%;
left:30.5%;
margin-top: 2%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 580;
font-size: 17px;
line-height: 34px;
letter-spacing: -0.05em;
color: #0F2749;
}

.part {
width: 40%;
height: 64px;
left: 29.8%;
margin-top: 4.8%;
font-weight: 500;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.05em;
}
.span {
font-weight: 600;
}
.about-container {
align-items: center;  
height: 70px; 
padding: 0 90px;
width: 90%;
margin-top: 11%;
}

.about-overlap {

height: 60%; 
position: absolute; 
width: 18%;
}

.heading-about {
font-size: 20px;
line-height: 37px;
}

/*about underline*/
.obj-underline {  
	margin-top:12.5%; 
	height: 2px; 
}

.himangy{
margin-left: 13%; 
margin-top: 17%;
width: 72%;
font-size: 16px;
line-height: 27px;
letter-spacing: 0.8px;
}

.obj-container {
align-items: center;  
height: 70px; 
padding: 0 90px;
width: 90%;
margin-top: 26%;
}

.obj-overlap {

height: 60%; 
position: absolute; 
width: 25%;
}

.heading-objective {
font-size: 24px;
line-height: 37px;
}

/*about underline*/
.abt-underline {  
	margin-top:12.5%; 
	height: 2px; 
}
.to-build{
margin-left: 13%; 
margin-top: 32%;
width: 78%;
font-size: 16px;
line-height: 27px;
letter-spacing: 0.8px;
}
.foo{
		width: 100%;
    margin-top: 78%;
}
.overlap-footer{
	height: 250px;
	position: relative;
    background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 4%;
}

.contact{
	margin-top: 4%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 33px;
text-align: center;
letter-spacing: -0.04em;

}
.copyright{
	margin-top: 15%;
	margin-left: 35%;
font-size: 13px;
line-height: 24px;
text-align: center;
letter-spacing: -0.04em;
}
.yellow-rectangle {
position: absolute;
width: 160px;
height: 100px;
border: 1px none; 
border-radius: 30px; 
margin-left: -2%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 34%;
  height: 110px;
}
}
@media only screen and (max-width: 1320px){
.rec{
margin-top: 0.2%;
}
.group_photo {
height: 290px; 
margin-left: 25%;
margin-right: 25%;
width: 50%;
}
.rectangle{
height: 350%; 

}
.title-rectangle {
width:26%;
height: 17%;
left: 36.5%;
border-radius: 14px 0px;
}

/*himangi title*/
.title-himangy {
left: 41.9%;
margin-top: -2.3%;
font-weight: 600;
font-size: 34px;
line-height: 61px;
letter-spacing: 0.18em;
}

.indian{
width:47%;
height: 5%;
left:30.4%;
margin-top: 2%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 580;
font-size: 15px;
line-height: 34px;
letter-spacing: -0.02em;
color: #0F2749;
}

.part {
width: 40%;
height: 64px;
left: 29.8%;
margin-top: 4.8%;
font-weight: 500;
font-size: 14px;
line-height: 22px;
letter-spacing: 0.04em;
}
.span {
font-weight: 600;
}
.about-container {
align-items: center;  
height: 70px; 
padding: 0 80px;
width: 90%;
margin-top: 11%;
}

.about-overlap {

height: 60%; 
position: absolute; 
width: 18%;
}

.heading-about {
font-size: 22px;
line-height: 33px;
}

/*about underline*/
.obj-underline {  
	margin-top:16%; 
	height: 2px; 
}

.himangy{
margin-left: 12%; 
margin-top: 18%;
width: 72%;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.8px;
}

.obj-container {
align-items: center;  
height: 70px; 
padding: 0 80px;
width: 90%;
margin-top: 26%;
}

.obj-overlap {

height: 60%; 
position: absolute; 
width: 18%;
}

.heading-objective {
font-size: 22px;
line-height: 37px;
}

/*about underline*/
.abt-underline {  
	margin-top:12%; 
	height: 2px; 
}
.to-build{
margin-left: 12.5%; 
margin-top: 33%;
width: 78%;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.8px;
}
.foo{
	width: 100%;
    margin-top: 78%;
}
.overlap-footer{
	height: 200px;
	position: relative;

    background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 13px;
line-height: 21px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 3%;
}
.m{
	width: 10%;
	height: 10%;
}
.contact{
	margin-top: 3%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 13px;
line-height: 27px;
text-align: center;
letter-spacing: -0.04em;

}
.copyright{
	margin-top: 14%;
	margin-left: 35%;
font-size: 12px;
line-height: 24px;
text-align: center;
letter-spacing: -0.04em;
}
.yellow-rectangle {
position: absolute;
width: 145px;
height: 90px;
border: 1px none; 
border-radius: 30px; 
margin-left: -2%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 38%;
  height: 90px;
}
}
@media only screen and (max-width: 1200px){
.rec{
margin-top: 0.3%;
}
.group_photo {
height: 260px; 
margin-left: 25%;
margin-right: 25%;
width: 50%;
}
.rectangle{
height: 330%; 
}
.title-rectangle {
width:26%;
height: 17%;
left: 36.5%;
border-radius: 14px 0px;
}

/*himangi title*/
.title-himangy {
left: 42%;
margin-top: -2.7%;
font-weight: 600;
font-size: 32px;
line-height: 59px;
letter-spacing: 0.13em;
}

.indian{
width:47%;
height: 5%;
left:30.3%;
margin-top: 2%;
font-weight: 580;
font-size: 14px;
line-height: 34px;
letter-spacing: -0.04em;
color: #0F2749;
}

.part {
width: 40%;
height: 64px;
left: 29.8%;
margin-top: 4.8%;
font-weight: 500;
font-size: 12px;
line-height: 22px;
letter-spacing: 0.07em;
}
.span {
font-weight: 600;
}
.about-container {  
margin-top: 11%;
height: 65px; 
padding: 0 65px;
}

.about-overlap {
width: 17%;
}
.heading-about {
line-height: 45px;
font-size: 20px;
}

/*about underline*/
.abt-underline {  
	margin-top:18%; 
	height: 2px; 
}
.himangy{
margin-left: 11.5%; 
margin-top: 18%;
width: 76%;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.6px;
}

.obj-container {  
margin-top: 26%;
height: 65px; 
padding: 0 65px;
}

.obj-overlap {
width: 17%;
}
.heading-objective {
line-height: 45px;
font-size: 20px;
}

/*about underline*/
.obj-underline {  
	margin-top:18%; 
	height: 2px; 
}
.to-build{
margin-left: 11.5%; 
margin-top: 33%;
width: 78%;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.6px;
}
.foo{
		width: 100%;
    margin-top: 73%;
}
.overlap-footer{
	height: 170px;
	position: relative;

    background-color: #0F2749;
}

.lang{
font-weight: 350;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 3%;
}
.m{
	width: 10%;
	height: 10%;
}
.contact{
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 12px;
line-height: 25px;
text-align: center;
letter-spacing: -0.04em;

}
.copyright{
	margin-top: 14%;
	margin-left: 35%;
font-size: 11px;
line-height: 24px;
text-align: center;
letter-spacing: -0.04em;
font-weight: 350;
}
.yellow-rectangle {
position: absolute;
width: 125px;
height: 70px;
border: 1px none; 
border-radius: 20px; 
margin-left: -2%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 38%;
  height: 75px;
}
}
@media only screen and (max-width: 1024px){
.overlap1 {
padding: 10px 25px;
}

.iiit-new1-1 {
height: 56%; 
width: 8%; 
}
div.scrollmenu a{
	margin: 4px -100px; 
    font-size: 16px;
    padding: 10px;
    margin-left: 11.5%;
}
.group_photo {
height: 200px; 
margin-left: 27%;
margin-right: 27%;
width: 46%;
}
.rectangle{
height: 382%; 
}

.title-rectangle {
width: 24.5%;
height: 16%;
left: 37%;
margin-top: -2%;
background: #0F2749;
border-radius: 10px 0px;
}
.title-himangy {
left: 42.5%;
margin-top: -2.8%;
font-weight: 600;
font-size: 26px;
line-height: 50px;
letter-spacing: 0.10em;
}

.indian{
width:47%;
height: 4%;
left:31%;
margin-top: 2%;
font-family: 'Montserrat';
font-style: normal;
font-weight: 580;
font-size: 11px;
line-height: 25px;
letter-spacing: -0.02em;
color: #0F2749;
}

.part {
width: 48%;
height: 64px;
left: 25.5%;
font-weight: 500;
font-size: 10px;
line-height: 16px;
letter-spacing: 0.05em;
}
/*about bg rectangle*/
.about-container { 
height: 60px; 
padding: 0 60px;
width: 90%;
margin-top: 11%;
}

.about-overlap {

height: 60%; 
width: 19%;
}

.heading-about {
font-size: 18px;
line-height: 39px;
}

/*about underline*/
.abt-underline {  
	margin-top:17%; 
	height: 2px; 
	width: 100%;
}

.himangy{;
margin-left: 12.2%; 
margin-top: 19%;
width: 76%;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.4px;
}
/*about bg rectangle*/
.obj-container { 
height: 60px; 
padding: 0 60px;
width: 90%;
margin-top: 27%;
}

.obj-overlap {

height: 60%; 
width: 19%;
}

.heading-objective{
font-size: 18px;
line-height: 39px;
}

/*about underline*/
.obj-underline {  
	margin-top:17%; 
	height: 2px; 
	width: 100%;
}
.to-build{
margin-left: 12.2%; 
margin-top: 35%;
width: 76%;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.4px;
}
.foo{
		width: 100%;
    margin-top: 76%;
}
.overlap-footer{
	height: 140px;
	position: relative;
    background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 11px;
line-height: 13px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 2.5%;
}
.m{
	width: 9%;
	height: 9%;
}
.contact{
	margin-top: 2.5%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 11px;
line-height: 20px;
text-align: center;
letter-spacing: -0.04em;
}
.copyright{
	margin-top: 13.5%;
	margin-left: 35%;
font-size: 10px;
line-height: 20px;
text-align: center;
letter-spacing: -0.04em;
font-weight: 350;
}
.yellow-rectangle {
position: absolute;
width: 100px;
height: 60px;
border: 1px none; 
border-radius: 13px; 
margin-left: -2.5%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 38%;
  height: 65px;
}
}
@media only screen and (max-width: 768px){
.overlap1 {
padding: 8px 17px;
}

.iiit-new1-1 {
height: 55%; 
width: 7%; 
}
div.scrollmenu a{
	margin: 3px -90px; 
    font-size: 12px;
    padding: 7px;
    margin-left: 14.5%;
}
.group_photo {
height: 142px; 
margin-left: 28.5%;
margin-right: 28.5%;
width: 43%;
}
.rectangle{
height: 385%; 
}
.title-rectangle {
width: 23%;
height: 17%;
left: 38%;
margin-top: -2%;
background: #0F2749;
border-radius: 6px 0px;
}
.title-himangy {
left: 42.8%;
margin-top: -2.8%;
font-weight: 600;
font-size: 20px;
line-height: 37px;
letter-spacing: 0.08em;
}

.indian{
width:47%;
height: 4%;
left:32%;
font-weight: 520;
font-size: 8.5px;
line-height: 20px;
letter-spacing: -0.04em;
color: #0F2749;
}

.part {
width: 47%;
height: 64px;
left: 26.8%;
font-weight: 450;
font-size: 8px;
line-height: 12px;
letter-spacing: 0.02em;
}
/*about bg rectangle*/
.about-container { 
height: 45px; 
padding: 0 40px;
width: 90%;
margin-top: 11%;
}

.about-overlap {

height: 60%; 
width: 19%;
}

.heading-about {
font-size: 15px;
line-height: 33px;
}

/*about underline*/
.abt-underline {  
	margin-top:19%; 
	height: 2px; 
	width: 100%;
}

.himangy{
margin-left: 11.5%; 
margin-top: 19%;
width: 76%;
font-size: 9px;
line-height: 12px;
letter-spacing: 0.2px;
}
/*about bg rectangle*/
.obj-container { 
height: 45px; 
padding: 0 40px;
width: 90%;
margin-top: 27%;
}

.obj-overlap {

height: 60%; 
width: 19%;
}

.heading-objective {
font-size: 15px;
line-height: 33px;
}

/*about underline*/
.obj-underline {  
	margin-top:19%; 
	height: 2px; 
	width: 100%;
}
.to-build{;
margin-left: 11.5%; 
margin-top: 34.5%;
width: 76vw;
font-size: 9px;
line-height: 12px;
letter-spacing: 0.2px;
}
.overlap-footer{
	height: 100px;
	position: relative;
	width: 100%;
    margin-top: 73%;
    background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 8px;
line-height: 10px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 2.5%;
}
.m{
	width: 8%;
	height: 8%;
}
.contact{
	margin-top: 2.5%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 350;
font-size: 8px;
line-height: 14px;
text-align: center;
letter-spacing: -0.04em;
}
.copyright{
	margin-top: 13.5%;
	margin-left: 35%;
font-size: 7px;
line-height: 16px;
text-align: center;
letter-spacing: -0.04em;
font-weight: 350;
}
.yellow-rectangle {
position: absolute;
width: 82px;
height: 50px;
border: 1px none; 
border-radius: 10px; 
margin-left: -3%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 38%;
  height: 47px;
}
}
@media only screen and (max-width: 425px){
.overlap1 {
padding: 6px 13px;
}

.iiit-new1-1 {
height: 54%; 
width: 6%; 
}
div.scrollmenu a{
margin: 2px -20px; 
font-size: 8px;
padding: 4px;
margin-left: 6%;
}
.group_photo {
height: 65px; 
margin-left: 30%;
margin-right: 30%;
width: 40%;
}
.rectangle{
height: 400%; 
}
.title-rectangle {
width: 21%;
height: 20%;
left: 39%;
margin-top: -2%;
background: #0F2749;
border-radius: 4px 0px;
}
.title-himangy {
left: 43.7%;
margin-top: -2.8%;
font-weight: 600;
font-size: 8px;
line-height: 20px;
letter-spacing: 0.1em;
}

.indian{
width:53%;
height: 4%;
left:33.8%;
font-weight: 550;
font-size: 3.5px;
line-height: 10px;
letter-spacing: -0.01em;
color: #0F2749;
}

.part {
width: 53%;
height: 64px;
left: 23.5%;
font-weight: 450;
font-size:3.5px;
line-height: 5px;
letter-spacing: 0.01em;
}
/*about bg rectangle*/
.about-container { 
height: 25px; 
padding: 0 20px;
width: 90%;
margin-top: 11%;
}

.about-overlap {
height: 60%; 
width: 19%;
}

.heading-about {
font-size: 8px;
line-height: 20px;
}

/*about underline*/
.abt-underline {  
margin-top:24%; 
height: 1px; 
width: 100%;
}

.himangy{
margin-left: 12%; 
margin-top: 19%;
width: 76%;
font-size: 4px;
line-height: 6px;
letter-spacing: 0.1px;
}
/*about bg rectangle*/
.obj-container { 
height: 25px; 
padding: 0 20px;
width: 90%;
margin-top: 26%;
}

.obj-overlap {
height: 60%; 
width: 19%;
}

.heading-objective {
font-size: 8px;
line-height: 20px;
}

/*about underline*/
.obj-underline {  
	margin-top:24%; 
	height: 1px; 
	width: 100%;
}
.to-build {;
margin-left: 12%; 
margin-top: 34%;
width: 76%;
font-size: 4px;
line-height: 6px;
letter-spacing: 0.1px;
}
.foo{
	width: 100%;
margin-top: 71%;
}
.overlap-footer{
height: 50px;
position: relative;

background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 230;
font-size: 4px;
line-height: 5px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 2.5%;
}
.m{
	width: 5%;
	height: 5%;
}
.contact{
	margin-top: 2.5%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 230;
font-size: 4px;
line-height: 6px;
text-align: center;
letter-spacing: -0.04em;
}
.copyright{
	margin-top: 13.5%;
	margin-left: 35%;
font-size: 3px;
line-height: 10px;
text-align: center;
letter-spacing: -0.04em;
font-weight: 350;
}
.yellow-rectangle {
position: absolute;
width: 37px;
height:22px;
border: 1px none; 
border-radius: 3px; 
margin-left: -7%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 40%;
  height: 22px;
}
}
@media only screen and (max-width: 320px){
.overlap1 {
padding: 5px 10px;
}

.iiit-new1-1 {
height: 53%; 
width: 5%; 
}
div.scrollmenu a{
	margin: 2px -20px; 
    font-size: 7px;
    padding: 2px;
    margin-left: 6.8%;
}
.group_photo {
height: 51.5px; 
margin-left:31%;
margin-right: 31%;
width: 38%;
}
.rectangle{
height: 440%;
}
.title-rectangle {
width: 20%;
height: 20%;
left: 39.5%;
margin-top: -2%;
background: #0F2749;
border-radius: 3px 0px;
}
.title-himangy {
left: 43.9%;
margin-top: -2.8%;
font-weight: 600;
font-size: 7px;
line-height: 17px;
letter-spacing: 0.04em;
}

.indian{
width:53%;
height: 4%;
left:33.8%;
font-weight: 550;
font-size: 3px;
line-height: 8px;
letter-spacing: -0.04em;
color: #0F2749;
}

.part {
width: 53%;
height: 64px;
left: 23%;
font-weight: 450;
font-size:3px;
line-height: 4px;
letter-spacing: -0.01em;
}
/*about bg rectangle*/
.about-container { 
height: 20px; 
padding: 0 20px;
width: 90%;
margin-top: 11%;
}

.about-overlap {

height: 60%; 
width: 19%;
}

.heading-about {
font-size: 7px;
line-height: 14px;
}

/*about underline*/
.abt-underline {  
	margin-top:18%; 
	height: 1px; 
	width: 100%;
}

.himangy{;
margin-left: 13%; 
margin-top: 19%;
width: 76%;
font-size: 3.5px;
line-height: 5px;
letter-spacing: 0.2px;
}
/*about bg rectangle*/
.obj-container { 
height: 20px; 
padding: 0 18px;
width: 90%;
margin-top: 26%;
}

.obj-overlap {

height: 60%; 
width: 19%;
}

.heading-objective {
font-size: 7px;
line-height: 14px;
}

/*about underline*/
.obj-underline {  
	margin-top:20%; 
	height: 1px; 
	width: 100%;
}
.to-build {;
margin-left: 13%; 
margin-top: 34%;
width: 76%;
font-size: 3.5px;
line-height: 5px;
letter-spacing: 0.2px;
}
.foo{
		width: 100%;
    margin-top: 73%;
}
.overlap-footer{
	height: 40px;
	position: relative;

    background-color: #0F2749;
}

.lang{
position: absolute;
font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 3px;
line-height: 4px;
letter-spacing: -0.06em;
color: #FCFCFC;
margin-left: 16%;
margin-top: 2.5%;
}
.m{
	width: 6%;
	height: 6%;
}
.contact{
	margin-top: 2.5%;
	margin-left: 65%;
	position: absolute;
	color: #FCFCFC;
	font-family: 'Montserrat';
font-style: normal;
font-weight: 200;
font-size: 3px;
line-height: 5px;
text-align: center;
letter-spacing: -0.04em;
}
.copyright{
	margin-top: 13.5%;
	margin-left: 35%;
font-size: 2px;
line-height: 7px;
text-align: center;
letter-spacing: -0.04em;
font-weight: 350;
}
.yellow-rectangle {
position: absolute;
width: 29px;
height:17px;
border: 1px none; 
border-radius: 1px; 
margin-left: -8%;
bottom: 0% ; 
}
.orange-rectangle{  
  right: 0%;
  position: absolute; 
  bottom: 40%;
  height: 17px;
}
}













/*-----------------------------------------------------------------------------consortium page------------------------------------------------------------------------*/

/*iiith icon----------------------------------------------------------*/
.overlap1-c {
    align-items: flex-end;
    display: flex; 
    justify-content: space-between;
    width: 100%;
    padding: 10px 70px;
    background-image:url('Vector.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.iiit-new1-1-c {
    height: 13%; 
    object-fit: cover;
    width: 9%; 
}
/*------------------------------------------------------------------*/

/*Menu Bar----------------------------------------------------------*/
.scrollmenu-c{
    background-color: #0F2749;
    width: 100%;
    display: flex;
}
.scrollmenu-c a{
    color: white;

	/* display: inline-block;
	color: white;
	margin: 5px -65px; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 7px;
    text-decoration: none; */
}
.scrollmenu-c a:link{
	text-decoration: none;
}
.scrollmenu-c a:hover{
	text-decoration: underline;
	text-decoration-color: #F37E27;
	text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
}
.scrollmenu-c::-webkit-scrollbar{
	display: none;
}
.scrollmenu-c a.active {
text-decoration: underline;
text-decoration-color: #F37E27;
text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
/*border-radius: 2px;
border: 1px none; 
height: 4px; 
margin-left: 30px; 
margin-top: 1px; 
width: 128px;*/
}
.scrollmenu-c-a{
    background-color: #0F2749;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}
.scrollmenu-c-a a{
	display: inline-block;
    color: white;
    margin: 12px -32px; 
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  padding: 0px;
  text-decoration: none;
  margin-left: 8.3%;
}
.scrollmenu-c-a a:link{
	text-decoration: none;
}
.scrollmenu-c-a a:hover{
	text-decoration: underline;
	text-decoration-color: #F37E27;
	text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
}
.scrollmenu-c-a::-webkit-scrollbar{
	display: none;
}
.scrollmenu-c-a a.active {
text-decoration: underline;
text-decoration-color: #F37E27;
text-decoration-thickness: 2px;
text-underline-offset: 0.3em;
/*border-radius: 2px;
border: 1px none; 
height: 4px; 
margin-left: 30px; 
margin-top: 1px; 
width: 128px;*/
}



/*dots images, chief investigators images, prof names-----------------------------------------------------------------*/
.img{
	width: 22%;
	height: 15%;
	margin-left: 31%;
	margin-top: 0.5%;
}
.left-dots-grp{
margin-top: 47.5vh;
float: left;
left: 0;
width: 7%;
height: 7%;

}
.right-dots-grp{
    margin-top: -15.5vh;
width: 7%;
height: 7%;
float: right;
}
.groupphoto {
    height: 300px; 
    margin-left: 20%;
    margin-right: 24%;
    width: 45%;
    position: relative;
    margin-top: 1%;
    }

.other-investigators{
position: absolute;
background-color: #0F2749;;
width: 58vw;
height: 6vh;
margin-top:2%;
border-radius: 0px 45px 45px 0px;
}
.text{
/* Other Investigators */
position: absolute;
right: 4vw;
margin-top: 1vh;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 29px;
letter-spacing: -0.02em;
color: white;
}


/* ---------------------Create three equal columns that floats next to each other--------------------------- */
.containerS{
	width: 90vw;
	height: 100vh;
	margin-top: 6%;
}
/* Create three equal columns that floats next to each other */
.row{
  margin-top:0%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.col {
  float: left;
  padding: 8px;
  height: 190px; 
}
/*-----------language name and box--------------*/
.box{
position: absolute;
width: 21vw;
height: 6vh;
background: white;
border-radius: 6px;
margin-left: 27%;
}

.language{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 45px;
letter-spacing: -0.02em;
color: #0F2749;
text-align: center;
background: #FCC02D66;
border-radius: 6px;
}

/*---------------universities logos---------------------*/
/*row-1 iogos*/
.iiith-icon{
    box-sizing: border-box;
    position: absolute;
    width: 11%;
    height: 20%;
    margin-left: 55%;
    margin-top: 11%;
    background: #E1EEF8;
    border-radius: 50%;
}
.iiith-icon img{
	margin-top:15% ;
	margin-left: 6.5%;
	width: 90%;
	height: 65%;
}
.cdac-icon{
    box-sizing: border-box;
    position: absolute;
    width: 11%;
    height: 20%;
    margin-left: 55%;
    margin-top: 11%;
    border-radius: 50%;
}
.cdac-icon img {
    margin-top: 5%;
    margin-left: 5%;
    width: 100%;
    height: 100%;
}

/*row-2 logos*/
.left-logo{
    box-sizing: border-box;
    position: absolute;
    width: 11%;
    height: 20%;
    margin-left: 47%;
    margin-top: 11%;
    background: #E1EEF8;
    border-radius: 50%;
    display: inline-flex;
}
.left-logo img{
	margin-top:15% ;
	margin-left: 6%;
	width: 90%;
	height: 65%;
}
.right-logo{
    box-sizing: border-box;
    position: absolute;
    width: 11%;
    height: 20%;
    margin-left: 65%;
    margin-top: 9.5%;
    border-radius: 50%;
    display: inline-flex;

}
.right-logo img{
	margin-top:15% ;
	width: 95%;
	height: 95%;
}
.left-logo1{
    box-sizing: border-box;
    position: absolute;
    width: 11%;
    height: 20%;
    margin-left: 47%;
    margin-top: 9.5%;
    border-radius: 50%;
    display: inline-flex;
}
.left-logo1 img{
	margin-top:15% ;
	width: 100%;
	height: 100%;
}


/*-----------Universities Names------------------*/
.u{
	position: absolute;
    font-family: Montserrat;
    font-style: normal;
    line-height: 15px;
    letter-spacing: -0.02em;
	font-weight: 300;
    margin-top: 12.5%;
    font-size: 12px;
}
.uni1 {
    margin-left: 51%;
}
.uni2 {
    margin-left: 49%;
}
.uni3 {
    margin-left: 53.5%;
}
.uni4 {
    margin-left: 42%;
}
.uni5 {
    margin-left: 38%;
}
.uni6 {
    margin-left: 30%;
}
.uni7 {
    margin-left: 50%;
}
.uni8 {
    margin-left: 42%;
}
.uni9 {
    margin-left: 33%;
}
.uni10 {
    margin-left: 49%;
}
.uni11 {
    margin-left: 50%;
}

/*----------------Female,Male icons--------------------*/
.icon1{
    box-sizing: border-box;
    position: absolute;
    margin-left: 28%;
    margin-top:18%;
    background: #E1EEF8;
    border-radius: 50%;
    width: 8%;
    height: 15%;
}
.icon2{
    box-sizing: border-box;
    position: absolute;
    margin-left: 28%;
    margin-top: 27%;
    background: #E1EEF8;
    border-radius: 50%;
    width: 8%;
    height: 15%;
}

/*-------------------Prof names-----------------------*/
.p {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.02em;
}

.nm1 {
    margin-left: 40%;
    margin-top: 21%;
}
.nm2 {
    margin-left: 40%;
    margin-top: 29%;
}

/*------------------footer------------------------------*/
.overlap-footer-c{
	height: 250px;
	position: relative;
	width: 100%;
    margin-top:8%;
    background-color: #0F2749;
}
---------------------------------------------------------------------------Media Queries-----------------------------------------------------------------------*/

@media only screen and (max-width: 1440px){

.other-investigators{
width: 57vw;
height: 6vh;
margin-top:2%;
}
.text{
right: 5.5vw;
margin-top: 1vh;
font-size: 16px;
line-height: 28px;
}
.overlap-footer-c{
	height: 250px;
	position: relative;
	width: 100%;
    margin-top:20 %;
    background-color: #0F2749;
}
.overlap-footer-c{
	height: 170px;
	position: relative;
	width: 100%;
    margin-top:15%;
    background-color: #0F2749;
}
}

@media only screen and (max-width: 1320px){

.other-investigators{
width: 57vw;
height: 6vh;
margin-top:2%;
}
.text{
right: 5.5vw;
margin-top: 1vh;
font-size: 16px;
line-height: 28px;
}



.containerS{
	margin-top:6%;
}
.col {
  height: 220px; 
}
/*-----------language name and box--------------*/
.box{
width: 21vw;
height: 17%;
}

.language{
font-size: 17px;
line-height: 40px;

}

/*---------------universities logos---------------------*/
/*row-1 iogos*/
.iiith-icon{
    width: 12%;
    height: 19%;
}
.iiith-icon img{
	margin-left: 6.5%;
	width: 87%;
	height: 65%;
}
.cdac-icon{
    width: 12%;
    height: 19%;
}

/*row-2 logos*/
.left-logo{
    width: 12%;
    height: 19%;
}
.left-logo img{
	width: 90%;
	height: 65%;
}
.right-logo{
    width: 12%;
    height: 19%;

}
.right-logo img{
	margin-top:15% ;
	width: 90%;
	height: 95%;
}
/*row-3*/
.left-logo1{
    width: 12%;
    height: 19%;
}
.left-logo1 img{
	margin-top:15% ;
	width: 95%;
	height: 100%;
}


/*-----------Universities Names------------------*/
.u{
	font-weight: 350;
    font-size: 11px;
}


/*----------------Female,Male icons--------------------*/
.icon1{
    margin-left: 28%;
    margin-top:18%;
    width: 7.5%;
    height: 14.5%;
}
.icon2{
    margin-left: 28%;
    margin-top: 27%;
    width: 7.5%;
    height: 14.5%;
}

/*-------------------Prof names-----------------------*/
.p {
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.02em;
}

.overlap-footer-c{
	height: 200px;
	position: relative;
	width: 100%;
    margin-top:15%;
    background-color: #0F2749;
}
}
@media only screen and (max-width: 1200px){
.left-dots-grp{
margin-top: 13vh;
}
.other-investigators{
width: 58vw;
height: 5.5vh;
margin-top:2%;
}
.text{
right: 5.5vw;
margin-top: 1vh;
font-size: 14px;
line-height: 25px;
}
.containerS{
	margin-top:6%;
}
.col {
  height: 200px; 
}
/*-----------language name and box--------------*/
.box{
width: 21vw;
height: 16%;
}
.language{
font-size: 16px;
line-height: 35px;
}
/*---------------universities logos---------------------*/
/*row-1 iogos*/
.iiith-icon{
    width: 12%;
    height: 20%;
    margin-top: 12%;
}
.iiith-icon img{
	margin-left: 6.5%;
	width: 87%;
	height: 65%;
}
.cdac-icon{
    width: 12%;
    height: 20%;
    margin-top: 12%;
}

/*row-2 logos*/
.left-logo{
    width: 12%;
    height: 20%;
    margin-top: 12%;
}
.left-logo img{
	width: 90%;
	height: 65%;
}
.right-logo{
    width: 12%;
    height: 20%;
    margin-top: 11%;

}
.right-logo img{
	margin-top:15% ;
	width: 90%;
	height: 95%;
}
/*row-3*/
.left-logo1{
    width: 12%;
    height: 20%;
    margin-top: 11%;
}
.left-logo1 img{
	margin-top:15% ;
	width: 95%;
	height: 100%;
}
/*-----------Universities Names------------------*/
.u{
	font-weight: 400;
    font-size: 10px;
}
/*----------------Female,Male icons--------------------*/
.icon1{
    margin-left: 28%;
    margin-top:18%;
    width: 7.5%;
    height: 14.5%;
}
.icon2{
    margin-left: 28%;
    margin-top: 27%;
    width: 7.5%;
    height: 14.5%;
}
/*-------------------Prof names-----------------------*/
.p {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.02em;
}
.overlap-footer-c{
	height: 170px;
	position: relative;
	width: 100%;
    margin-top:10%;
    background-color: #0F2749;
}

@media only screen and (max-width: 1024px){
.left-dots-grp{
margin-top: 11vh;
}
.other-investigators{
width: 56vw;
height: 5vh;
margin-top:2%;
}
.text{
right: 5vw;
margin-top: 1vh;
font-size: 12px;
line-height: 24px;
letter-spacing: -0.02em;
}
.iiit-new1-1-c {
height: 55.9%; 
width: 7.9%; 
}
div.scrollmenu-c a{
	margin: 4px -100px; 
    font-size: 16px;
    padding: 10px;
    margin-left: 12%;
}

.containerS{
	margin-top:6%;
}
.col {
  height: 180px; 
}
/*-----------language name and box--------------*/
.box{
width: 21vw;
height: 16%;
}
.language{
font-size: 16px;
line-height: 35px;
}
/*---------------universities logos---------------------*/
/*row-1 iogos*/
.iiith-icon{
    width: 12%;
    height: 19%;
    margin-top: 14.5%;
}
.iiith-icon img{
	margin-left: 6.5%;
	width: 87%;
	height: 65%;
}
.cdac-icon{
    width: 12%;
    height: 19%;
    margin-top: 14.5%;
}

/*row-2 logos*/
.left-logo{
    width: 12%;
    height: 19%;
    margin-top: 13.5%;
}
.left-logo img{
	width: 90%;
	height: 63%;
}
.right-logo{
    width: 12%;
    height: 19%;
    margin-top: 12.5%;

}
.right-logo img{
	margin-top:15% ;
	width: 90%;
	height: 93%;
}
/*row-3*/
.left-logo1{
    width: 12%;
    height: 19%;
    margin-top: 12.5%;
}
.left-logo1 img{
	margin-top:15% ;
	width: 95%;
	height: 95%;
}
/*-----------Universities Names------------------*/
.u{
	font-weight: 500;
    font-size: 8px;
    margin-top: 11%;
}
/*----------------Female,Male icons--------------------*/
.icon1{
    margin-left: 28%;
    margin-top:19%;
    width: 7%;
    height: 14%;
}
.icon2{
    margin-left: 28%;
    margin-top: 28%;
    width: 7%;
    height: 14%;
}
/*-------------------Prof names-----------------------*/
.p {
    font-weight: 500;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: -0.02em;
}
.overlap-footer-c{
	height: 130px;
	position: relative;
	width: 100%;
    margin-top:5%;
    background-color: #0F2749;
}
}
@media only screen and (max-width: 768px){

.left-dots-grp{
margin-top: 9vh;
}
.other-investigators{
width: 57vw;
height: 4vh;
margin-top:2%;
}
.text{
right: 5vw;
margin-top: 1vh;
font-size: 10.5px;
line-height: 15px;
letter-spacing: -0.01em;
}
.overlap1 {
padding: 8px 17px;
}
.iiit-new1-1-c {
height: 54.9%; 
width: 6.9%; 
}
div.scrollmenu-c a{
	margin: 3px -90px; 
    font-size: 12px;
    padding: 7px;
    margin-left: 14.5%;
}
.containerS{
	margin-top:6%;
}
.col {
  height: 180px; 
}
/*-----------language name and box--------------*/
.box{
width: 21vw;
height: 16%;
}
.language{
font-size: 16px;
line-height: 35px;
}
/*---------------universities logos---------------------*/
/*row-1 iogos*/
.iiith-icon{
    width: 12%;
    height: 18%;
    margin-top: 16%;
}
.iiith-icon img{
	margin-left: 9%;
	width: 85%;
	height: 61%;
}
.cdac-icon{
    width: 12%;
    height: 18%;
    margin-top: 16%;
}

/*row-2 logos*/
.left-logo{
    width: 12%;
    height: 17%;
    margin-top: 16%;
}
.left-logo img{
	width: 90%;
	height: 63%;
}
.right-logo{
    width: 12%;
    height: 18%;
    margin-top: 14%;

}
.right-logo img{
	margin-top:15% ;
	width: 90%;
	height: 93%;
}
/*row-3*/
.left-logo1{
    width: 12%;
    height: 18%;
    margin-top: 14%;
}
.left-logo1 img{
	margin-top:15% ;
	width: 95%;
	height: 95%;
}
/*-----------Universities Names------------------*/
.u{
	font-weight: 500;
    font-size: 6px;
    margin-top: 12%;
}
/*----------------Female,Male icons--------------------*/
.icon1{
    margin-left: 28%;
    margin-top:19%;
    width: 6.5%;
    height: 13%;
}
.icon2{
    margin-left: 28%;
    margin-top: 28%;
    width: 6.5%;
    height: 13%;
}
/*-------------------Prof names-----------------------*/
.p {
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: -0.04em;
}
.overlap-footer-c{
	height: 100px;
	position: relative;
	width: 100%;
    margin-top:2%;
    background-color: #0F2749;
}
}
@media only screen and (max-width: 425px){
.overlap1 {
padding: 6px 13px;
}
.iiit-new1-1-c {
height: 53.9%; 
width: 5.9%; 
}
div.scrollmenu-c a{
margin: 2px -20px; 
font-size: 8px;
padding: 4px;
margin-left: 6%;
}
.containerS{
	margin-top: 10vh;
}
.col {
  height: 180px; 
}
/*-----------language name and box--------------*/
.box{
width: 21vw;
height: 16%;
}
.language{
font-size: 16px;
line-height: 35px;
}
/*---------------universities logos---------------------*/
/*row-1 iogos*/
.iiith-icon{
    width: 12%;
    height: 18%;
    margin-top: 16%;
}
.iiith-icon img{
	margin-left: 9%;
	width: 85%;
	height: 61%;
}
.cdac-icon{
    width: 12%;
    height: 18%;
    margin-top: 16%;
}

/*row-2 logos*/
.left-logo{
    width: 12%;
    height: 17%;
    margin-top: 16%;
}
.left-logo img{
	width: 90%;
	height: 63%;
}
.right-logo{
    width: 12%;
    height: 18%;
    margin-top: 14%;

}
.right-logo img{
	margin-top:15% ;
	width: 90%;
	height: 93%;
}
/*row-3*/
.left-logo1{
    width: 12%;
    height: 18%;
    margin-top: 14%;
}
.left-logo1 img{
	margin-top:15% ;
	width: 95%;
	height: 95%;
}
/*-----------Universities Names------------------*/
.u{
	font-weight: 500;
    font-size: 6px;
    margin-top: 12%;
}
/*----------------Female,Male icons--------------------*/
.icon1{
    margin-left: 28%;
    margin-top:19%;
    width: 6.5%;
    height: 13%;
}
.icon2{
    margin-left: 28%;
    margin-top: 28%;
    width: 6.5%;
    height: 13%;
}
/*-------------------Prof names-----------------------*/
.p {
    font-weight: 500;
    font-size: 8px;
    line-height: 14px;
    letter-spacing: -0.04em;
}
}
@media only screen and (max-width: 320px){
.overlap1 {
padding: 5px 10px;
}
.iiit-new1-1-c {
height: 52.9%; 
width: 4.9%; 
}
div.scrollmenu-c a{
	margin: 2px -20px; 
    font-size: 7px;
    padding: 2px;
    margin-left: 6.8%;
}
}

/*   leaderboard page*/
.g73 {
    margin-top: 0%;
    float: left;
    width: 10px;
}

.grp1 {
    margin-top: 1%;
    float: right;
}
