.overlap1-l {
    align-items: flex-end;
    margin-top: 0.8%;
    display: flex; 
    width: 100%;
    height: 50%; 
    padding: 10px 70px;
    background-image:url('Vector.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}    
.iiit-new1-1-l { 
    height: 10%; 
    object-fit: cover;
    width: 9%; 
}
.m1 {
    display:flex;
    width:100%;
    
  }
  .logouticon{
    width:3%;
    height:3%;
    float: right;
    align-items: right;
    justify-content: right;
    margin-left:100%;
    margin-bottom: 2%;
}
  .m2{
    
    display: none;
    position: absolute;
    margin-top: 2.7%;
    width: 170px; 
    height: auto;  
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    z-index: 1;
    margin-left: 73%;
  }

  
  .dropdown-c1 {
    
    height: auto;
    color: #4D4D4D;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;

  }
  .dropdown-c1 span{
    margin: 0px 10px;

  }
  .m2 .dropdown-c1:hover {
    background-color:#D5E5F8;
  }
  .m2 a{
    text-decoration: none;
    color: #4D4D4D;
  }
  /*.m1:hover .m2 {
    display: block;
  }*/
  
.scrollmenu-l{
    background-color: #0F2749;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

.scrollmenu-l  .nav-content{
    display: inline-block;
    color: white;
    margin: 9px -80px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding-left: 25px;
    text-decoration: none;
    margin-left: 12.5%;
}
.scrollmenu-l .nav-content:link{
    text-decoration: none;
}
.scrollmenu-l .nav-content:hover{
    text-decoration: underline;
    text-decoration-color: #F37E27;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.3em;
}
.scrollmenu-l::-webkit-scrollbar{
    display: none;
}
.scrollmenu-l.active {
text-decoration: underline;
text-decoration-color: #F37E27;
text-decoration-thickness: 4px;
text-underline-offset: 0.5em;
/*border-radius: 2px;
border: 1px none; 
height: 4px; 
margin-left: 30px; 
margin-top: 1px; 
width: 128px;*/
}

.menu {
    display: inline-block;
    color: white;
    margin: 3px -15px; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 0px;
    text-decoration: none;
    margin-left: 8.8%;
    justify-content: left;
    text-align: left;
    
  }

  .dropdown-btn1{
    background-color: #0F2749;
    color:white;
    border:0;
    display: inline-block; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 5px;
    margin-left: 15px;
    text-decoration: underline;
    text-decoration-color: #F37E27;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.3em;
   
  }
  .menu-c {
    display: none;
    position: absolute;
    margin-top: 0.4%;
    width: 187px; 
    height: auto;  
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    z-index: 1;
  }

  
  .dropdown-content {
    
    height: auto;
    color: #4D4D4D;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;

  }
  .dropdown-content span{
    margin: 0px 10px;

  }
  .menu-c .dropdown-content:hover {
    background-color:#D5E5F8;
  }
  .menu-c a{
    text-decoration: none;
    color: #4D4D4D;
  }
  /*.menu:hover .menu-c {
    display: block;
  }*/
  
  
  
  .dropdown-btn2{
    background-color: #0F2749;
    color:white;
    border:0;
    display: inline-block; 
	font-family: 'Montserrat';
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    padding: 0px;
  }
.dots{
    width:100%;
    height: auto;
    display: flex;
}
.dot1{
    margin-top: 0.2%;
    float: left;
    width: 6%;
}
.d{
    width: 80%;
    height: auto;
}
.row{
    width: 75%;
    margin: auto;
    height: 5%;
    margin-left: 1%;
    margin-top:0.7%;
    display: flex;
  }
  .term1{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.04em;
  
  color: #9D9D9D;
  
  }
  .term2{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.04em;
  
  color: #9D9D9D;
  
  }
  .term3{
    font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.04em;
  
  color: #1F669F;
  }
  
.one{
    display:flex;
    margin-left:5%;
    margin-right:auto;
    margin-top: 2%;
    height:auto; 
    width:auto;
}
.one1{
    background: #E2F2FC;
    width: 30px;
    height:30px;
    border-radius:50%;
    text-align: center;
    margin-left:2.5%;
    
    justify-content: center;
    float:left; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    color: #363636;

}
.one2{
    margin-left:2.6%;
    
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
}
.one3{
    margin-left:5.4%;
    
    float:left; 
}
  
.select1{
   
    box-sizing: border-box;

    position: absolute;
    width: 580px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border-radius: 4px;


}
.dropdown1{
    width:0px;
    
}
.dropdown1:after {
    content: "";  
    position: absolute;
    margin-left: 5%;
    margin-top: 13%;
    margin-right: 33.7%;
    right: 1.8px;
    top: 11px;
    width: 0; 
    height: 0; 
    border: 5px;
    
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid #0F2749;
}



.two{
    display:flex;
    margin-left:5%;
    margin-right:auto;
    margin-top: 2%;
    height:auto; 
    width:auto;
}
.two1{
    background: #E2F2FC;
    width: 30px;
    height:30px;
    border-radius:50%;
    text-align: center;
    margin-left:2.5%;
    justify-content: center;
    float:left; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    color: #363636;

}
.two2{
    margin-left:2.5%;
   
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
}
.two3{
    margin-left:3.0%;
    
    float:left; 
}
.select2{
   
    box-sizing: border-box;
    position: absolute;
    width: 275px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border: 2px solid #0F2749;
    border-radius: 8px;
    background: rgba(229, 240, 253, 0.7);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: -0.04em;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;



}
.dropdown2{
    width: 580px;
    
}
.dropdown2:after {
    content: "";  
    position: absolute;
    margin-top: 17.2%;
    margin-right: 53.5%;
    right: 1.8px;
    top: 11px;
    width: 0; 
    height: 0; 
    border: 5px;
    z-index:1;
    
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid #0F2749;
}
.three{
    display:flex;
    margin-left:5%;
    margin-right:auto;
    margin-top: 2%;
    height:auto; 
    width:155%;
}
.three1{
    background: #E2F2FC;
    width: 1.6%;
    height:30px;
    border-radius:50%;
    text-align: center;
    margin-left:1.5%;
    justify-content: center;
    float:left; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    color: #363636;

}
.three2{
    margin-left:1.4%;
    width:10%;
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
    text-align: left;
    justify-content: left;
    align-items: left;
}
.three3{
    width:18%;
    margin-left:1.2%;
    float:left; 
}
.select3{
   
    box-sizing: border-box;
    position: absolute;
    width: 275px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border: 2px solid #0F2749;
    border-radius: 8px;
    background: rgba(229, 240, 253, 0.7);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: -0.04em;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.dropdown3{
    width: px;
    
}
.dropdown3:after {
    content: "";  
    position: absolute;
    margin-top: 21.2%;
    margin-right: 53.2%;
    right: 1.8px;
    top: 11px;
    width: 0; 
    height: 0; 
    border: 5px;
    z-index:1;
    
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid #0F2749;
}

.dropdown4:after {
    content: "";  
    position: absolute;
    margin-top: 21.5%;
    margin-right: 17.5%;
    right: 1.8px;
    top: 11px;
    width: 0; 
    height: 0; 
    border: 5px;
    z-index:1;
    
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid #0F2749;
}
.three4{
    margin-left:1.0%;
    width:10%;
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
}
.three5{
    margin-left:1.0%;
    width:40%;
    float:left; 
}
.select4{
   
    box-sizing: border-box;
    position: absolute;
    width: 265px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border: 2px solid #0F2749;
    border-radius: 8px;
    background: rgba(229, 240, 253, 0.7);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: -0.04em;
    color: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;



}
.four{
    display:flex;
    margin-left:5%;
    margin-top: 2%;
    margin-right:auto;
    height:auto; 
    width:auto;
}
.four1{
    background: #E2F2FC;
    width: 30px;
    height:30px;
    border-radius:50%;
    text-align: center;
    margin-left:2.5%;
    justify-content: center;
    float:left; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    color: #363636;

}
.four2{
    margin-left:2.5%;
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
}
.four3{
    margin-left:5.4%;
    float:left; 
}
  
.select5{
   
    box-sizing: border-box;

    position: absolute;
    width: 580px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border-radius: 4px;


}
.dropdown5:after {
    content: "";  
    position: absolute;
    margin-top: 25.5%;
    margin-right: 33.2%;
    right: 1.8px;
    top: 11px;
    width: 0; 
    height: 0; 
    border: 5px;
    z-index:1;
    
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 13px solid #0F2749;
}
.five{
    display:flex;
    margin-left:5%;
    margin-top: 2%;
    margin-right:auto;
    height:auto; 
    width:auto;
}
.five1{
    background: #E2F2FC;
    width: 30px;
    height:30px;
    border-radius:50%;
    text-align: center;
    margin-left:2.5%;
    justify-content: center;
    float:left; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    color: #363636;

}
.five2{
    margin-left:2.5%;
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
}
.five3{
    margin-left:6.5%;
    float:left; 
}
  
.select6{
   
    box-sizing: border-box;

    position: absolute;
    width: 580px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border-radius: 4px;


}
.six{
    display:flex;
    margin-left:5%;
    margin-top: 2%;
    margin-right:auto;
    height:auto; 
    width:auto;
}
.six1{
    background: #E2F2FC;
    width: 30px;
    height:30px;
    border-radius:50%;
    text-align: center;
    margin-left:2.5%;
    justify-content: center;
    float:left; 
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    color: #363636;

}
.six2{
    margin-left:2.5%;
    float:left; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #3F3F3F;
}
.six3{
    margin-left:11.4%;
    float:left; 
}
  
.select7{
   
    box-sizing: border-box;

    position: absolute;
    width: 580px;
    height: 35px;
    border: 1px solid #3A3A3A;
    border-radius: 4px;


}
.file {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left:410px;
    margin-top:1px;
    width:130px;
    color: #FFFFFF
  }
  .file--upload > label {
    color: hsl(0, 0%, 100%);
    background: #1F669F;
    border-radius: 4px;
    height:45px;
    width:2000px;
   justify-content:center;
   padding-left: 1px;
   padding-top: 10px;
   font-family: 'Montserrat';
   border-radius: 4px;
}
    
  
  .file--upload > label:hover {
    border-color:#1F669F;
    background-color: #1F669F;
  }
  
  .file--upload > label:active {
    background-color:#1F669F;
  }
  .file > input[type='file'] {
    display: none;
    width:25px;
  }
  
  .button{
    width:180px;
    height:40px;
    margin-left:535px;
    margin-top:15px;
    background: hsl(0, 0%, 82%);
    border-radius: 2px;
    border:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 83% */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #FFFFFF;
 
 }
 .button1{
    width:190px;
    height:40px;
    margin-top:15px;
    border:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 83% */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #FFFFFF;
    background: #DBDBDB;
    border-radius: 4px;
 }
 .popupbutton{
    width:190px;
    height:40px;
    margin-top:15px;
    margin-left: 18%;
    border:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 83% */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #FFFFFF;
    background: #DBDBDB;
    border-radius: 4px;

 }
 .popupbutton a{
    color: #FFFFFF;

 }

 .eight1{
    width:300px;
 }
 .eight2{
    width:300px;
 }
 .eight{
    display:flex;
    width:50%;
    height:auto;
    margin-left: 35%;
 }


.dot2{
    height: auto;
    margin-top: 0.5%;
    float: right;
    margin-left:10% ;
   
}
.filemessage{
    margin-left: 41%;

}
.filemessage span{
    margin-top: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.04em;

    color: #58AD03;

}
.fileimage{
    width:4%;
    height:4%;
    background-color: #D8E5F8;;
    
}
#success-message{
    margin-top: 2%;
    display: none;
}
#success-message span{
    margin-top: 1%;
   
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }

 /*table, th, td {
        border:1px solid black;
        border-collapse: collapse;
      }*/
      .table{
        box-sizing: border-box;

      background: #E8E8E8;
      border: 1px solid #B0B0B0;
      border-radius: 6px;
      }
      .vertical {
        border-right: 1px solid black;
        height: 50px;
        position:absolute;
        left: 0%;
    }
    .heading{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 32px;
letter-spacing: -0.04em;

color: #454545;
align-items: center;
text-align: center;
justify-content: center

    }
  .data{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 29px;
/* identical to box height */

letter-spacing: -0.04em;

color: #065CD6;
align-items: center;
text-align: center;
justify-content: center
  }

  .side{
    display:flex;
    float:left;
    margin-left: 15%;
  }
  .button2{
    width:120px;
    height:40px;
    margin-top:15px;
    border:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 83% */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #FFFFFF;
    background: #DBDBDB;
    border-radius: 4px;
 }
 .button3{
    width:200px;
    height:40px;
    margin-top:15px;
    margin-left: 5%;
    border:none;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    /* or 83% */
    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #FFFFFF;
    background: #0F2749;
border-radius: 4px;
 }
 input.score{
    outline: none;
    border:0;
    background: transparent;
    
  }
  

  
