<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link rel="stylesheet" href="{{url_for('static',filename='adminstyle.css')}}"> -->
  <script>
    tailwind.config = {
      theme: {
        fontFamily: {
          body: ["Montserrat"],
        },
        extend: {
          backgroundImage: {
            navPattern: "url('/images/Vector1_.png')",
          },
          colors: {
            DarkBlue: "#0F2749",
            DarkOrgane: "#F37E27",
            Yellow: "#FCC02D66",
          },
        },
      },
    };
  </script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600"
    rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style> 
    .menu-c {
  
  display: none;
  position: absolute;
  margin-top: 0.4%;
  width: 187px; 
  height: auto;  
  background: #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  z-index: 1;
}
.menu-c a{
  text-decoration: none;
  color: #4D4D4D;
}
#dropdownButton1:hover + #dropdownMenu1 {
  display: block;
}

#dropdownButton1.open + #dropdownMenu1 {
  display: block;
}

  </style>
</head>

<body>
  <div class="  font-body   ">
    <div class="overlap1-c ">
      <img class="w-24 h-auto" src="{{url_for('static',filename='Icon.png')}}" />
      <div class="flex gap-4">
        <div class="">
          <img class="h-10 md:mr-5 mr-0" id="imagebutton" src="{{url_for('static',filename='logout icon.png')}}" />
          <div class="m2" id="imagecontent">
            <a href="{{ url_for('signin') }}" class="dropdown-c1"><span>Sign In</span></a>
            <a href="{{ url_for('signout') }}" class="dropdown-c1"><span>Sign Out</span></a>
          </div>
        </div>
        <div class="w-10 md:w-0">
          <img class="h-10" id="hamburg" src="{{url_for('static',filename='menu-04.png')}}" />
        </div>
      </div>
    </div>
    <!-- navbar  -->
    <div id="mobilecontent" class="w-0 h-full absolute bg-DarkBlue z-10 ease-in duration-200 overflow-x-auto">
      <div class="m-auto">
        <div class="flex flex-column text-center font-bold text-2xl gap-10 pt-10">
          <a href="{{ url_for('about') }}"
            class="text-white underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Home</a>
          <a href="{{ url_for('objective') }}"
            class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Objectives</a>
          <a href="{{ url_for('consortium') }}"
            class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Consortium
            Members</a>
          <a href="{{ url_for('documents') }}"
            class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Documents</a>
          <a target="_self" href="https://himgangycanvas.iiithcanvas.com/"
            class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Applications</a>
          <a href="{{ url_for('userleaderboard') }}"
            class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Leader
            Board</a>
            <a href="{{ url_for('tools') }}"
            class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Himangy Tools</a>
        </div>
      </div>
    </div>

    <div class="md:h-auto md:w-full flex gap-3 bg-DarkBlue font-semibold font-body py-2 overflow-x-auto h-0 w-0">
      <div class="mx-auto gap-5 md:gap-16 lg:gap-30 flex flex-row my-1">
          <a href="{{ url_for('about') }}"
              class="text-white underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Home</a>
          <a href="{{ url_for('objective') }}"
              class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Objectives</a>
          <a href="{{ url_for('consortium') }}"
              class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Consortium
              Members</a>
          <a href="{{ url_for('documents') }}"
              class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Documents</a>
          <a target="_self" href="https://himgangycanvas.iiithcanvas.com/"
              class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Applications</a>
          <a href="{{ url_for('userleaderboard') }}"
              class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Leader
              Board</a>
              <div class="w-auto flex flex-col   ">
                <button
                    class="dropdown-btn2  no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 "
                    id="dropdownButton1">Himangy Tools</button>
                <div class="menu-c mt-10 -ml-10 " id="dropdownMenu1">
                    <a href="{{ url_for('tools') }}" class="dropdown-content"><span>Show Tools</span></a>
                    <a href="{{ url_for('addtools') }}" class="dropdown-content"><span>Add Tools</span></a>
                </div>
            </div>
      </div>
  </div>
  </div>
  <!-- Hero  -->


  <img class="bg-contain mx-auto sm:h-64 h-40 w-auto p-4 lg:p-10" src="{{url_for('static',filename='HomePage.gif')}}" />
  <div class="max-w-screen-xl mb-10   mx-auto  ">
    <div class=" bg-sky-100  rounded-t-2xl  mx-10 ">

      <div class=" w-full text-center lg:pt-8 md:pt-4 pt-3">
        <text
          class="  sm:px-16 px-8 text-bold font-bold text-white text-2xl lg:text-3xl bg-DarkBlue tracking-wide	 rounded-tr-xl rounded-bl-xl overflow-x-auto">HIMANGY</text>
      </div>

      <div class=" w-full text-center pt-2  ">
        <text class="sm:text-xl text-lg  font-semibold tracking-tighter	 ">
          INDIAN LANGUAGE TO INDIAN LANGUAGE MACHINE TRANSLATION </text>
      </div>
      <div class="text-center pt-2 pb-2">
        <text class=" md:text-md sm:text-lgg text-sm  text-md  font-normal  tracking-wider">
          <span>Part of Speech-to-Speech Machine Translation under BHASHINI, </span>
          <br>
          <span>Funded by MeitY, Govt. of India</span>
        </text>
      </div>

      <div class="bg-white w-full  py-2">
        <div
          class="text-2xl lg:ml-16  ml-0  text-orange-500 font font-semibold w-40 border-orange-500 border-b-2 border-opacity-25">
          About
        </div>
      </div>
      <div class=" sm:mx-24 mx-2   font-light tracking-wider  py-2 ">
        <div class=" relative  md:mx-10   md:text-md  text-sm ">HIMANGY (HIndustani Machini ANuvaad TechnoloGY) is an
          Indian Language to Indian Language Machine Translation project. It is a consortium based project under
          BHASHINI and is funded by Ministry of Electronics and Information Technology (Meity), Government of India.
          IIIT-Hyderabad is the lead institute of the project.</div>
      </div>
      <div class="">
        <div class="bg-white w-full py-2">
          <div
            class="text-2xl  lg:ml-16  ml-0  text-orange-500 font font-semibold sm:w-96    border-orange-500 border-b-2 border-opacity-25">
            Try our MT Systems
          </div>
        </div>

        <div class="flex flex-col sm:flex-row pt-4 sm:p-10 p-4">
          <a href="https://bhashini.gov.in/en/">
            <img class="pl-10 " src="{{url_for('static',filename='u_i_1.png')}}" />
          </a>
          <a class=" " href="https://ssmt.iiit.ac.in/translate">
            <img class=" pl-10 group/item  " src="{{url_for('static',filename='u_i_2.png')}}" />

          </a>
          <div class="opacity-0 group-hover/item:opacity-100 ">
            On going research work </div>
        </div>
      </div>
    </div>


  </div>
  <!-- footer -->
  <div class=" text-white bg-DarkBlue   font-body flex   justify-between ">
    <img class="flex-none lg:w-40 md:w-24  w-16 h-auto mt-auto"
      src="{{url_for('static',filename='Rectangle 2.png')}}" />
    <div class="flex-row  font-body flex-grow">
      <div
        class="flex flex-end sm:flex-row flex-col   justify-between   content-left   lg:text-md md:text-s text-xs    ">
        <div class="   sm:my-8  my-4    break-normal sm:mx-0  ">Language Technologies Research Centre (LTRC)<br>1st
          Floor, Kohli Center on Intelligent Systems (KCIS)<br> International Institute of Information Technology,
          Hyderabad <br>Gachibowli, Hyderabad, Telangana - 500 032<br> India
        </div>
        <div class=" content-left  sm:my-8  my-4 sm:mx-0  ">
          <div class=" ml-0 lg:mx-12 mx-0 text-xs lg:text-md md:text-sm flex  h-4  ">
            <img class="m md:h-4 w-auto  h-2 my-auto " src="{{url_for('static',filename='msg-icon.png')}}"> &nbsp;
            ltrcoffice1@iiit.ac.in
          </div>
          <br>
          <div class=" ml-0 lg:mx-8 text-xs lg:text-md md:text-sm flex  h-4 ">
            <img class="m md:h-4 w-auto  h-2 my-auto " src="{{url_for('static',filename='call-icon.png')}}"> &nbsp;
            +9140-6653 1581
          </div>
          <br>
          <text class=" ml-0  lg:mx-8 text-xs lg:text-md md:text-sm flex  h-4 ">
            <img class="m md:h-4 w-auto  h-2 my-auto " src="{{url_for('static',filename='tele-icon.png')}}">&nbsp;
            +9140-6653 1413
          </text>
        </div>
      </div>
      <div class="flex-none text-center text-gray-400 text-xs my-1"> 2022 © Copyright ltrc. All Rights Reserved</div>
    </div>
    <img class="flex-none   my-auto  lg:h-40 h-24    " src="{{url_for('static',filename='Rectangle 1780.png')}}" />
  </div>
  </div>
  <script>
    var dropdownButton1 = document.getElementById('dropdownButton1');

    dropdownButton1.addEventListener('click', function () {
      dropdownButton1.classList.toggle('open');
    });
    var imagebutton = document.getElementById("imagebutton");
    var imagecontent = document.getElementById("imagecontent");
    imagebutton.addEventListener("click", function () {
      imagebutton.classList.toggle("open");
    });

    var mobilemenu = false;

    var hambutton = document.getElementById("hamburg");
    var hamcontent = document.getElementById("mobilecontent");
    hambutton.addEventListener("click", function () {
      // hambutton.classList.toggle('open');
      mobilemenu = !mobilemenu;
      if (mobilemenu) {
        hamcontent.className =
          "w-full h-full absolute bg-DarkBlue z-10 ease-in duration-300 overflow-hidden";
      } else {
        hamcontent.className =
          "w-0 h-full absolute bg-DarkBlue z-10 ease-in duration-300 overflow-hidden";
      }
    });
  </script>
  <script>


    const dropdown = document.querySelector('.dropdown');
    const menu = document.querySelector('.dropdown-menu');
    dropdown.addEventListener('click', () => {
      menu.classList.toggle('hidden');
    });
  </script>
</body>

</html>