<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Documents Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a46b5c1927.js" crossorigin="anonymous"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          fontFamily: {
            body: ['"Montserrat"'],
          },
          extend: {
            backgroundImage: {
              navPattern: "url('/images/Vector1_.png')",
            },
            colors: {
              DarkBlue: "#0F2749",
              DarkOrgane: "#F37E27",
              Yellow: "#FCC02D66",
            },
          },
        },
      };
    </script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="docs.css">
    <!--  -->
    <link rel="stylesheet" href="{{url_for('static',filename='docs.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">  
    
  </head>
<body> 
  <div class="overlap1-c">
      <img class="w-24 h-auto" src="{{url_for('static',filename='Icon.png')}}" />
      <div class="flex gap-4">
        <div class="">
          <img class="h-10" id="imagebutton" src="{{url_for('static',filename='logout icon.png')}}" />
          <div class="m2" id="imagecontent">
            <a href="{{ url_for('signin') }}" class="dropdown-c1"><span>Sign In</span></a>
            <a href="{{ url_for('signout') }}" class="dropdown-c1"><span>Sign Out</span></a>
          </div>
        </div>
        <div class="w-10 md:w-0">
          <img class="h-10" id="hamburg" src="{{url_for('static',filename='menu-04.png')}}" />
          </div>
        </div>
      </div>
    </div>

  <div id="mobilecontent" class="w-0 h-full absolute bg-DarkBlue z-10 ease-in duration-200 overflow-x-auto">
    <div class="m-auto">
      <div class="flex flex-col  text-center font-bold text-2xl gap-10 pt-10">
        <a href="{{ url_for('about') }}"
          class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Home</a>
        <a href="{{ url_for('objective') }}"
          class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Objectives</a>
        <a href="{{ url_for('consortium') }}"
          class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Consortium
          Members</a>
        <a href="{{ url_for('documents') }}"
          class="text-white underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Documents</a>
        <a target="_self" href="https://himgangycanvas.iiithcanvas.com/"
          class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Applications</a>
        <a href="{{ url_for('userleaderboard') }}"
          class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Leader
          Board</a>
      </div>
    </div>
    </div>
<div class="md:h-auto md:w-full flex gap-3 bg-DarkBlue font-semibold font-body py-2 overflow-x-auto h-0 w-0">
  <div class="mx-auto gap-5 md:gap-16 lg:gap-30 flex flex-row my-1">
    <a href="{{ url_for('about') }}" class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Home</a>
    <a href="{{ url_for('objective') }}" class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Objectives</a>
    <a href="{{ url_for('consortium') }}" class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Consortium Members</a>
    <a href="{{ url_for('documents') }}" class="text-white underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Documents</a>
    <a target="_self" href="https://himgangycanvas.iiithcanvas.com/" class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Applications</a>
    <a href="{{ url_for('userleaderboard') }}" class="text-white no-underline decoration-DarkOrgane decoration-DarkOrgane decoration-2 underline-offset-4 hover:underline hover:decoration-DarkOrgane hover:decoration-2 hover:underline-offset-4">Leader Board</a>
  </div>
</div>

    
  
  
       
    <!-- <div class="overlap-group4-1">
      <img class="iiit-new1-1" src="{{url_for('static',filename='iiit-new1 1.png')}}" />
      <div class="m1">
        <img class="logouticon" id="imagebutton" src="{{url_for('static',filename='logout icon.png')}}" />
        <div class="m2" id="imagecontent">
            <a href="{{ url_for('signin') }}" class="dropdown-c1"><span>Sign In</span></a>
            <a href="{{ url_for('signout') }}" class="dropdown-c1"><span>Sign Out</span></a>
        </div>
      </div>
    </div> -->
    <!-- <div class="scrollmenu">
      <a href="{{ url_for('about') }}" >Home</a>
      <a href="{{ url_for('objective') }}" >Objectives</a>
      <a href="{{ url_for('consortium') }}" >Consortium Members</a>
      <a href="{{ url_for('documents') }}" class="active">Documents</a>
      <a target="_self" href="https://himgangycanvas.iiithcanvas.com/">Applications</a>
      <a href="{{ url_for('userleaderboard') }}">Leader Board</a>
    </div> -->

    <div class="flex  justify-between">
      <div id="" class="h-full sm:w-10  w-4 " ><img src="{{url_for('static',filename='docs-rg.png')}}">
      </div>
      <div class="container sm:mt-10  mt-2">
        <table>
          <div class=" w-90% mt-2 mr-4    ">
            <div class="headings">
            <span class="heading">Name</span>
            <span class="heading">Date</span>
            <span class="heading">Last Edit</span>
            <span class="heading">Type</span>
          </div>
          <div class="policy">
            <span><img class= "gallery" src="{{url_for('static',filename='gallery.png')}}">&nbsp; <a href="https://drive.google.com/drive/folders/1HM434y002oC16ehipBLTaJ041oxaiZL6?usp=sharing"> GoogleSheets</a></span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "video" src="{{url_for('static',filename='video.png')}}">&nbsp;<a href="https://drive.google.com/drive/folders/1KAYeywm9KMBStTPOxjIJZY_PRdzXf9iC?usp=sharing">Annotation</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img  class= "gallery" src="{{url_for('static',filename='gallery.png')}}">&nbsp; <a href="https://drive.google.com/drive/folders/1ZqeIHMAO9izFvVAt5yCAbduLZ_V2TtgL?usp=sharing">Evaluation</a></span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "video" src="{{url_for('static',filename='video.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1aFvTn9PNX_8C4Z79PTgq4IT--JBYiUBy?usp=sharing">Guidelines</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "gallery" src="{{url_for('static',filename='gallery.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1pFc8o4H08viDAgDxZhw7YxoXNJglH6p4?usp=sharing">Meetings Data</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "video"src="{{url_for('static',filename='video.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1lkAbha0i06du4d7zp49pzW5CuDFU2eiV?usp=sharing">Project Status Report</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "gallery" src="{{url_for('static',filename='gallery.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1MPkO0j6dkXfdha0LJEqqRRAwYi_CQPU0?usp=sharing"> Project Proposal</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
        </table>
      </div>
      <div id=""  class="h-full  sm:w-16  w-6  "><img src="{{url_for('static',filename='docs-lg.png')}}" >
      </div>
    </div>
    
    <div id="msg_pic"><img src="{{url_for('static',filename='msg_pic.png')}}" ></div>
    <div id="down_grp"><img src="{{url_for('static',filename='down_grp.png')}}"id="pic"></div>
    <script>
      var imagebutton = document.getElementById('imagebutton');
           var imagecontent = document.getElementById('imagecontent');
           imagebutton.addEventListener('click', function() {
               imagebutton.classList.toggle('open');
           });

           var mobilemenu = false
           var hambutton = document.getElementById('hamburg');
           var hamcontent = document.getElementById('mobilecontent');
           hambutton.addEventListener('click', function () {// hambutton.classList.toggle('open');
           mobilemenu = !mobilemenu
           if (mobilemenu) {
            hamcontent.className = "w-full h-full absolute bg-DarkBlue z-10 ease-in duration-300 overflow-hidden"
          }
          else {
            hamcontent.className = "w-0 h-full absolute bg-DarkBlue z-10 ease-in duration-300 overflow-hidden"}});
   
   </script>
  </body>
</html>