<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Documents Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a46b5c1927.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,500,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="docs.css">
    <link rel="stylesheet" href="{{url_for('static',filename='docs.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
  </head>
  <body>
    <div class="overlap-group4-1">
      <img class="iiit-new1-1" src="{{url_for('static',filename='iiit-new1 1.png')}}" />
      <div class="m1">
        <img class="logouticon" id="imagebutton" src="{{url_for('static',filename='logout icon.png')}}" />
        <div class="m2" id="imagecontent">
            <a href="{{ url_for('signin') }}" class="dropdown-c1"><span>Sign In</span></a>
            <a href="{{ url_for('signout') }}" class="dropdown-c1"><span>Sign Out</span></a>
        </div>
      </div>
    </div>
    <div class="scrollmenu">
      <a href="{{ url_for('about') }}" >Home</a>
      <a href="{{ url_for('objective') }}" >Objectives</a>
      <a href="{{ url_for('consortium') }}" >Consortium Members</a>
      <a href="{{ url_for('documents') }}" class="active">Documents</a>
      <a target="_self" href="https://himgangycanvas.iiithcanvas.com/">Applications</a>
      <a href="{{ url_for('userleaderboard') }}">Leader Board</a>
    </div>
    <div id="right_grp" ><img src="{{url_for('static',filename='docs-rg.png')}}"></div>
    <div id="left_grp"><img src="{{url_for('static',filename='docs-lg.png')}}" ></div>
    <div class="container">
      <table>
        <div class="policy-table">
          <div class="headings">
            <span class="heading">Name</span>
            <span class="heading">Date</span>
            <span class="heading">Last Edit</span>
            <span class="heading">Type</span>
           
          </div>
          <div class="policy">
            <span><img class= "gallery" src="{{url_for('static',filename='gallery.png')}}">&nbsp; <a href="https://drive.google.com/drive/folders/1HM434y002oC16ehipBLTaJ041oxaiZL6?usp=sharing"> GoogleSheets</a></span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "video" src="{{url_for('static',filename='video.png')}}">&nbsp;<a href="https://drive.google.com/drive/folders/1KAYeywm9KMBStTPOxjIJZY_PRdzXf9iC?usp=sharing">Annotation</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img  class= "gallery" src="{{url_for('static',filename='gallery.png')}}">&nbsp; <a href="https://drive.google.com/drive/folders/1ZqeIHMAO9izFvVAt5yCAbduLZ_V2TtgL?usp=sharing">Evaluation</a></span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "video" src="{{url_for('static',filename='video.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1aFvTn9PNX_8C4Z79PTgq4IT--JBYiUBy?usp=sharing">Guidelines</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "gallery" src="{{url_for('static',filename='gallery.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1pFc8o4H08viDAgDxZhw7YxoXNJglH6p4?usp=sharing">Meetings Data</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "video"src="{{url_for('static',filename='video.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1lkAbha0i06du4d7zp49pzW5CuDFU2eiV?usp=sharing">Project Status Report</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
          <div class="policy">
            <span><img class= "gallery" src="{{url_for('static',filename='gallery.png')}}"></i>&nbsp;<a href="https://drive.google.com/drive/folders/1MPkO0j6dkXfdha0LJEqqRRAwYi_CQPU0?usp=sharing"> Project Proposal</a> </span>
            <span>02-07-2022 18:43</span>
            <span>Last Opened 2hours ago </span>
            <span>JPG file</span>
          </div>
        </div>
      </table>
    </div>
    <div id="msg_pic"><img src="{{url_for('static',filename='msg_pic.png')}}" ></div>
    <div id="down_grp"><img src="{{url_for('static',filename='down_grp.png')}}"id="pic"></div>
    <script>
      var imagebutton = document.getElementById('imagebutton');
           var imagecontent = document.getElementById('imagecontent');
           imagebutton.addEventListener('click', function() {
               imagebutton.classList.toggle('open');
           });
   
   </script>
  </body>
</html>